<div class="content-wrapper" ng-controller="MainController">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Public Notices
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Public Notices</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div ng-cloak ng-hide="nNotify" class="alert alert-success">
                    <button class="close" data-dismiss="alert" type="button">&times;</button>Notification Sent
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-xs-6">
                <div class="box box-primary">
                <div class="box-body">
                <form role="form">
                        <div class="form-group">
                            <label>Notification Message</label>
                            <textarea class="form-control" ng-model="information" rows="3" placeholder="Enter ..."></textarea>
                        </div>
                <button type="submit" ng-click="saveNotify(information)" class="btn btn-primary">Send Notification</button>
                </form>
                </div>
            </div>
            </div>
        </div>
    </section>
</div>